
.outerbox {
    background-color: darkgoldenrod;
    height: 100px;
    width: 100px;
    text-align: center;
    positon: relative;
}

.outerbox > div {
    background-color: #0d314b;
    height: 50px;
    width: fit-content;
    display: inline-block;
    margin: 0 auto;

}



