.molecule{

}
.molecule img {
    height: 10rem;
    width: auto;
    margin-top: 0.2rem;
}
.molecule div {
   margin: -0.2rem;

}

.molecule p a {
    text-decoration: none;

}

.molecule p a:hover {
    color: var(--hover-color);
}

.molecules-container {
    display: flex;
    gap: 2.5rem;

}

.macrocycle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piperdine-urea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.molecules-container p {
    margin: 0;
    padding: 0.4rem;
}

.molecule-description {
    font-weight: bold;

}
