

.molecule img {
    height: 10rem;
    width: auto;
    margin-top: 0.2rem;
}
.molecule div {
   margin: -0.2rem;
}

.molecule p a {
    text-decoration: none;
    color: var(--patent-no-color);
}

.molecule p a:hover {
    color: var(--hover-color);
}

.molecules-container {
    display: flex;
    gap: 2.5rem;
}

.macrocycle-container {
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.1s ease-in-out;
    border-radius: 4%;
    border: 4px solid transparent;
    width: 32.5%;
}

.piperdine-urea-container {
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.1s ease-in-out;
    border-radius: 4%;
    border: 4px solid transparent;
    width: 32.5%;
}

.molecules-container p {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.4rem;
    flex-wrap: wrap;
}

.molecule-description {
    font-weight: bold;
}

.macrocycle-container:active{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border: 4px solid var(--on-click-border-color);
}

.piperdine-urea-container:active{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border: 4px solid var(--on-click-border-color);
}
