:root {
    --black: #171321;
    --dkblue: #0d314b;
    --teagrey: rgb(196, 208, 199);
    --darkred: #A92525FF;
    --darkbrown: #211D1DFF;
    --white: #f7f8fa;
    --bake: 'Bakemono Stereo', sans-serif;
}


html {
     box-sizing: border-box;
}


/**{border: 1px solid rgb(140, 116, 50);}*/
*,
*::before,
*::after{
    box-sizing: inherit;
}

